<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.mapt.kt.testkt.mapper.BusiInfoMapper">
    <select id="getBusiInfoByTenant" resultType="per.mapt.kt.testkt.BusiInfoVO">
        select id,pk_tenant,product_id,pur_num,buzi_content,active_date
        from buzi_info where pk_tenant=#{tenantId} and pur_num &gt; 0
    </select>
    <insert id="insertBusiInfo">
        insert into buzi_info(id,pk_tenant,product_id,pur_num,buzi_content,active_date)
        values(#{id},#{pkTenant},#{productId},#{purNum},#{buziContent},#{activeDate})
    </insert>
</mapper>